<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=0.8, maximum-scale=1"
        />
        <title>Express</title>
        <link rel="stylesheet" href="/css/bootstrap.css" />
    </head>

    <body>
        <header>
            <div id="nav">
                <div class="col-sm nav-align">
                    <h1 id="title">Express</h1>
                </div>
                <div class="col-sm nav-align">
                    <a href="/">
                        <span class="button">Home</span>
                    </a>
                    <a href="/users">
                        <span class="button">Users</span>
                    </a>
                </div>
            </div>
        </header>

        <div class="container"><%- body %></div>

        <footer>footer</footer>
    </body>
</html>
