<div class="data-form">
    <form class="form-signin" action="/users/create" method="POST">
        <h2>Create a new user:</h2>
        <label for="firstName">First Name</label>
        <input
            class="form-control"
            type="text"
            name="first_name"
            id="firstName"
            placeholder="First"
            autofocus
            required
        />
        <label for="inputLastName">Last Name</label>
        <input
            class="form-control"
            type="text"
            name="last_name"
            id="inputLastName"
            placeholder="Last"
            required
        />
        <label for="inputEmail">Email Address</label>
        <input
            class="form-control"
            type="email"
            name="email"
            id="inputEmail"
            placeholder="Email"
            required
        />
        <label for="inputAge">age</label>
        <input
            class="form-control"
            type="text"
            name="age"
            id="inputAge"
            placeholder="Age"
            required
        />
        <label for="inputSex">sex</label>
        <select name="sex" id="inputSex" class="form-control">
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
        <br /><button class="btn btn-lg btn-primary btn-block" type="submit">
            Create
        </button>
    </form>
</div>
